*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	--color-text: #fff;
	--color-bg: #2a0068;
	--color-link: #ffffff;
	--color-link-hover: #3eaaf1;
	--color-alt: #3ba2e5;
	--color-info: #423131;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dream {
	position: absolute;
	text-align: center;
	margin: 25rem 5rem;
	z-index: 2;
}

.dream__text {
	font-size: 120px;
    font-family: 'Roboto', sans-serif;
    color: #00fff3;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.message {
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	text-align: center;
}

.header-wrap {
    position: absolute;
	width: 100%;
	z-index: 1;
}

.header__logo {
	font-size: 1.5rem;
	margin: 0 0 1rem;
	font-weight: 900;
	float: left;
}

.header__links {
	text-align: end;
}

.header__links a {
	display: block;
	margin: 0 1rem 0.5rem;
}

#app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

canvas {
	width: 100%;
	height: 100%;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,180deg);
		border-radius: 50%;
	}
}

@media screen and (min-width: 526px) {
	.message {
		display: none;
	}

	.header-wrap {
		padding: 3em 5em 0em 5em;
	}
	.header__logo{
		float: left;
	}
	
	.header__links a {
		display: inline-block;
	}

	.header__mail {
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	.header a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
	
}

@media (max-width: 400px) {
	.header__logo {
		text-align: left;
	}

	.header__mail {
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	/* .dream {
		font-size: 30px;
		margin-top: 200px;
		text-align: center;
	} */
}
